{% extends 'imagersite/base.html' %}

{% block nav-bar %}
<a href="{% url 'home' %}" class="btn btn-primary btn-lg">Home</a>
<a href="{% url 'photos' %}" class="btn btn-primary btn-lg">Photos</a>
<a href="{% url 'albums' %}" class="btn btn-primary btn-lg">Albums</a>
<a href="{% url 'library' %}" class="btn btn-primary btn-lg">Library</a>
<a href="{% url 'user_profile' %}" class="btn btn-primary btn-lg">{{ user.username }}</a>
<a href="{% url 'logout' %}" class="btn btn-primary btn-lg">Logout</a>
{% endblock %}

{% block content %}
  <h1>Edit {{ item }}</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" value="Save">Update</button>
  </form>
{% endblock content %}
