{% extends "imagersite/base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block nav-bar %}
    <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Home</a>
    <a href="{% url 'albums' 1 %}" class="btn btn-primary btn-lg">Albums</a>
    <a href="{% url 'library' 1 1 %}" class="btn btn-primary btn-lg">Library</a>
    <a href="{% url 'photo_add' %}" class="btn btn-primary btn-lg">Add Photos</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-primary btn-lg">Logout</a>
        <a href="{% url 'user_profile' %}" class="btn btn-primary btn-lg">{{ user.username }}</a>
    {% else %}
        <a href="{% url 'registration_register' %}" class="btn btn-primary btn-lg">Register</a>
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="tag-list">
       <ul>
         {% for tag in tags %}
           <li><a href="{% url 'tagged_photos' tag.slug %}">{{ tag }}</a></li>
         {% empty %}
           <li>No Tags</li>
         {% endfor %}
       </ul>
    </div>
    {% if album %}
    <h3>{{ album.title }} <a class="btn btn-primary-btn-sm" href="{% url 'album_edit' album.id%}">Edit this album</a></h3>
    {% else %}
    <h3>All Publicly Available Photos</h3>
    {% endif %}

<div class="col-sm-12">
    {% if photos.has_other_pages %}
      <ul class="pagination">
        {% if photos.has_previous %}
          <li><a href="{% url 'photos' photos.previous_page_number %}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in photos.paginator.page_range %}
          {% if photos.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="{% url 'photos' i %}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if photos.has_next %}
          <li><a href="{% url 'photos' photos.next_page_number %}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
</div>

    {% for photo in photos %}
      <div class="col-sm-6 col-md-4 col-lg-3 photo">
        {% thumbnail photo.image "200x200" as image %}
          <a href="{{ photo.image.url }}"
             data-fancybox
             data-caption="{{ photo.title }} - {{ photo.description }} <a href='{% url "photo_edit" photo.id %}'>Edit</a>">
             <img src="{{ image.url }}" rel="gallery" alt=""/>
           </a>
        {% empty %}
          <img src='{% static 'imagersite/testing.png' %}'>
        {% endthumbnail %}
      </div>
    {% endfor %}
{% endblock %}
