{% extends "imagersite/base.html" %}
{% load static %}


{% block nav-bar %}
<a href="{% url 'library' %}" class="btn btn-primary btn-lg">Library</a>
<a href="{% url 'home' %}" class="btn btn-primary btn-lg">Home</a>
{% endblock %}


{% block content %}
{% if user == profile.user %}
<p>Username: {{ profile.user.username }}</p>
<p>Camera: {{ profile.camera }}</p>
<p>Photography Level: {{ profile.photog_level }}</p>
<h2>Personal information</h2>
<ul>
  <li>Location: {{ profile.location }}</li>
</ul>
{% endif %}

<div class="">
<h3>Photos</h3>
    {% if user == profile.user %}
    <p>Private: {{ data.photo_private }}<p>
    {% endif %}
    <p>Public: {{ data.photo_published }}<p>
</div>
<div class="">
<h3>Albums</h3>
    {% if user == profile.user %}
    <p>Private: {{ data.album_private }}<p>
    {% endif %}

    <p>Public: {{ data.album_published }}<p>
</div>



{% endblock %}
